<h1>Helpers testing</h1>

<div class="datepicker-select-1">
  <PowerDatepicker @selected={{selected1}} @onSelect={{action (mut selected1) value="date"}} @closeOnSelect={{false}} as |dp|>
    <dp.Trigger>
      <input type="text" readonly value={{selected1}}>
    </dp.Trigger>
    <dp.Content>
      <dp.Nav />
      <dp.Days />
    </dp.Content>
  </PowerDatepicker>
</div>