<h1>Helpers testing</h1>

<div class="datepicker-select-1">
  <PowerDatepicker
    @selected={{this.selected1}}
    @onSelect={{this.updateSelectedValue}}
    @closeOnSelect={{false}} as |dp|>
    <dp.Trigger>
      {{! template-lint-disable require-input-label }}
      <input type="text" readonly value={{this.selected1}}>
    </dp.Trigger>
    <dp.Content>
      <dp.Nav />
      <dp.Days />
    </dp.Content>
  </PowerDatepicker>
</div>
